<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whq.driver.dao.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.whq.driver.model.Dictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dict_key" property="dictKey" jdbcType="INTEGER" />
    <result column="field_name" property="fieldName" jdbcType="VARCHAR" />
    <result column="dict_value" property="dictValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dict_key, field_name, dict_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whq.driver.model.Dictionary" >
    insert into dictionary (id, dict_key, field_name, 
      dict_value)
    values (#{id,jdbcType=INTEGER}, #{dictKey,jdbcType=INTEGER}, #{fieldName,jdbcType=VARCHAR}, 
      #{dictValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whq.driver.model.Dictionary" >
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dictKey != null" >
        dict_key,
      </if>
      <if test="fieldName != null" >
        field_name,
      </if>
      <if test="dictValue != null" >
        dict_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dictKey != null" >
        #{dictKey,jdbcType=INTEGER},
      </if>
      <if test="fieldName != null" >
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        #{dictValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whq.driver.model.Dictionary" >
    update dictionary
    <set >
      <if test="dictKey != null" >
        dict_key = #{dictKey,jdbcType=INTEGER},
      </if>
      <if test="fieldName != null" >
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whq.driver.model.Dictionary" >
    update dictionary
    set dict_key = #{dictKey,jdbcType=INTEGER},
      field_name = #{fieldName,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getDictionaryByRecord" parameterType="com.whq.driver.model.Dictionary" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dictionary
    <include refid="Base_Where_List" />
  </select>
  <sql id="Base_Where_List" >
    <where>
      <if test="dictKey != null" >
        dict_key = #{dictKey,jdbcType=INTEGER}
      </if>
      <if test="fieldName != null" >
        field_name = #{fieldName,jdbcType=VARCHAR}
      </if>
      <if test="dictValue != null" >
        dict_value = #{dictValue,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
</mapper>