<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whq.driver.dao.OrderProductMapper">
  <resultMap id="BaseResultMap" type="com.whq.driver.model.OrderProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="sell_count" jdbcType="INTEGER" property="sellCount" />
    <association property="product" column="id"  javaType="com.whq.driver.model.Product">
      <id column="id" property="id" />
      <result column="prod_name" property="prodName"/>
    </association>
  </resultMap>
  <resultMap id="BaseResultMapVO" type="com.whq.driver.model.OrderProductVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="sell_count" jdbcType="INTEGER" property="sellCount" />
    <association property="product" column="id"  javaType="com.whq.driver.model.Product">
      <id column="id" property="id" />
      <result column="prod_name" property="prodName"/>
      <result column="prod_base_price" property="prodBasePrice"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, product_id, sell_price, sell_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whq.driver.model.OrderProduct">
    insert into order_product (id, order_code, product_id, 
      sell_price, sell_count)
    values (#{id,jdbcType=INTEGER}, #{orderCode,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, 
      #{sellPrice,jdbcType=DECIMAL}, #{sellCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.whq.driver.model.OrderProduct">
    insert into order_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="sellPrice != null">
        sell_price,
      </if>
      <if test="sellCount != null">
        sell_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="sellPrice != null">
        #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellCount != null">
        #{sellCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whq.driver.model.OrderProduct">
    update order_product
    <set>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="sellPrice != null">
        sell_price = #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellCount != null">
        sell_count = #{sellCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whq.driver.model.OrderProduct">
    update order_product
    set order_code = #{orderCode,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      sell_price = #{sellPrice,jdbcType=DECIMAL},
      sell_count = #{sellCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getListByTotal" parameterType="com.whq.driver.model.OrderProduct" resultMap="BaseResultMap">
    select op.*,p.prod_name from order_product op,product p where op.product_id = p.id
    <include refid="Base_Where_List" />
    <if test="properties.start!=null and properties.pageSize!=null">
      limit #{properties.start},#{properties.pageSize}
    </if>
  </select>
  <select id="getListByTotalForStats" parameterType="com.whq.driver.model.OrderProduct" resultMap="BaseResultMapVO">
    select op.*,p.prod_name,p.prod_base_price from order_product op,product p,order_m om where op.product_id = p.id and om.order_code=op.order_code and om.order_status=2
    <include refid="Base_Where_List" />
    <if test="properties.start!=null and properties.pageSize!=null">
      limit #{properties.start},#{properties.pageSize}
    </if>
  </select>
  <select id="getListCount" parameterType="com.whq.driver.model.OrderProduct" resultType="java.lang.Integer">
    select COUNT(*) from order_product op,product p where op.product_id = p.id
    <include refid="Base_Where_List" />
  </select>
  <sql id="Base_Where_List">
    <if test="id != null">
      and id = #{orderCode,jdbcType=INTEGER}
    </if>
    <if test="orderCode != null">
      and op.order_code = #{orderCode,jdbcType=VARCHAR}
    </if>
    <if test="productId != null">
      and product_id = #{productId,jdbcType=VARCHAR}
    </if>
    <if test="properties.date != null">
      and to_days(om.order_time) = to_days(#{properties.date,jdbcType=TIMESTAMP});
    </if>
  </sql>
</mapper>